[project]
	description = Java SAML toolkit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/CharmsStyler
[access "refs/for/refs/*"]
	read = group user/CharmsStyler
	push = group user/CharmsStyler
	label-Code-Review = -2..+2 group user/CharmsStyler
	label-Verified = -1..+1 group user/CharmsStyler
	rebase = group user/CharmsStyler
	removeReviewer = group user/CharmsStyler
	submit = group user/CharmsStyler
[access "refs/heads/*"]
	read = group user/CharmsStyler
	create = group user/CharmsStyler
	push = +force group user/CharmsStyler
	pushMerge = group user/CharmsStyler
[access "refs/tags/*"]
	push = group user/CharmsStyler
	push = +force group user/CharmsStyler
